{% extends 'base.html.twig' %}

{% block title %}SnowTricks - Figure
{% endblock %}

{% block body %}
	<header class="masthead bg-secondary">
		<div class="container">
			<div class="masthead-subheading fs-1">Tricks name</div>
		</div>
	</header>
	<section class="media py-5">
		<div class="container py-lg-5">
			<div class="text-center mb-3 pb-3">
				<h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Medias</h6>
				<h1>Let's discover the trick together</h1>
			</div>
		</div>
		<div class="container">
			<div class="row row-cols-1 row-cols-md-4 g-4 pb-5">
				<div class="col-3">
					<div class="card">
						<img src="../images/land-default.png" class="card-img-top" style="max-width: 18rem;" alt="...">
					</div>
				</div>
				<div class="col-3">
					<div class="card">
						<img src="../images/land-default.png" class="card-img-top" style="max-width: 18rem;" alt="...">
					</div>
				</div>
				<div class="col-3">
					<div class="card">
						<img src="../images/land-default.png" class="card-img-top" style="max-width: 18rem;" alt="...">
					</div>
				</div>
				<div class="col-3">
					<div class="card">
						<img src="../images/land-default.png" class="card-img-top" style="max-width: 18rem;" alt="...">
					</div>
				</div>
				<div class="col-3">
					<div class="card">
						<img src="../images/land-default.png" class="card-img-top" style="max-width: 18rem;" alt="...">
					</div>
				</div>
				<div class="col-3">
					<div class="card">
						<img src="../images/land-default.png" class="card-img-top" style="max-width: 18rem;" alt="...">
					</div>
				</div>
			</div>
		</div>
	</section>
	<div class="container-fluid py-5">
		<div class="text-center mb-3 pb-3">
			<h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">About</h6>
			<h1>Technical Description</h1>
		</div>
		<div class="container py-5">
			<div class="row">
				<div class="col-lg-6" style="min-height: 500px;">
					<div class="position-relative h-100">
						<img class="position-absolute w-100 h-100 bg-dark" style="object-fit: cover;">
					</div>
				</div>
				<div class="col-lg-6 pt-5 pb-lg-5">
					<div class="about-text bg-secondary p-4 p-lg-5 my-lg-5">
						<h6 class="text-primary text-uppercase" style="letter-spacing: 5px;"></h6>
						<h1 class="mb-3">Lorem lorem ipsum sit et ipsum</h1>
						<p>Dolores lorem lorem ipsum sit et ipsum. Sadip sea amet diam dolore sed et. Sit rebum labore sit sit ut vero no sit. Et elitr stet dolor sed sit et sed ipsum et kasd ut. Erat duo eos et erat sed diam duo</p>
						<p>Dolores lorem lorem ipsum sit et ipsum. Sadip sea amet diam dolore sed et. Sit rebum labore sit sit ut vero no sit. Et elitr stet dolor sed sit et sed ipsum et kasd ut. Erat duo eos et erat sed diam duo</p>

						<div class="row mb-4">
							<div class="col-6">
								<img class="img-fluid" src="img/about-1.jpg" alt="">
							</div>
							<div class="col-6">
								<img class="img-fluid" src="img/about-2.jpg" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<section class="figure-meta py-5 bg-secondary">
		<div class="py-3">
			<div class="container">
				<div class="row text-center">
					<div class="col-md-4">
						<span class="fa-stack fa-4x">
							<i class="fas fa-circle fa-stack-2x"></i>
							<i class="fas fa-plus fa-stack-1x fa-inverse"></i>
						</span>
						<h4 class="my-3">Created at</h4>
					</div>
					<div class="col-md-4">
						<span class="fa-stack fa-4x">
							<i class="fas fa-circle fa-stack-2x"></i>
							<i class="fas fa-person-snowboarding fa-stack-1x fa-inverse"></i>
						</span>
						<h4 class="my-3">Group</h4>
					</div>
					<div class="col-md-4">
						<span class="fa-stack fa-4x">
							<i class="fas fa-circle fa-stack-2x"></i>
							<i class="fas fa-pen fa-stack-1x fa-inverse"></i>
						</span>
						<h4 class="my-3">Updated at</h4>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="figure-messages py-5">
        <div class="text-center mb-3 py-3">
			<h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Blog</h6>
			<h1>Related Messages</h1>
		</div>
		<div class="container my-5 py-2">
			<div class="row d-flex justify-content-center">
				<div class="col-md-12 col-lg-10">
					<div class="card text-dark">
						<div class="card-body py-4">
                             <div class="d-flex flex-row add-comment-section my-5"><img class="img-fluid img-responsive rounded-circle mx-3" 
							 src="../images/default.png" width="38"><input type="text" class="form-control mr-3" placeholder="Add message"><button class="btn btn-primary mx-3" 
							 type="button">Submit</button></div>
							<div class="d-flex flex-start py-2">
								<img class="rounded-circle shadow-1-strong me-3" src="../images/default.png" alt="avatar" width="60" height="60"/>
								<div>
									<h6 class="fw-bold mb-1">username</h6>
									<div class="d-flex align-items-center mb-3">
										<p class="mb-0">
											created_at
										</p>
									</div>
									<p class="mb-0">
										Lorem Ipsum is simply dummy text of the printing and typesetting
                                        industry. Lorem Ipsum has been the industry's standard dummy text ever
                                        since the 1500s, when an unknown printer took a galley of type and
                                        scrambled it.
									</p>
								</div>
							</div>
						</div>

						<hr class="my-0"/>

						<div class="card-body p-4">
							<div class="d-flex flex-start py-2">
								<img class="rounded-circle shadow-1-strong me-3" src="../images/default.png" alt="avatar" width="60" height="60"/>
								<div>
									<h6 class="fw-bold mb-1">username</h6>
									<div class="d-flex align-items-center mb-3">
										<p class="mb-0">
											created_at
										</p>
									</div>
									<p class="mb-0">
										Lorem Ipsum is simply dummy text of the printing and typesetting
                                        industry. Lorem Ipsum has been the industry's standard dummy text ever
                                        since the 1500s, when an unknown printer took a galley of type and
                                        scrambled it.
									</p>
								</div>
							</div>
						</div>

						<hr class="my-0" style="height: 1px;"/>

						<div class="card-body p-4">
							<div class="d-flex flex-start py-2">
								<img class="rounded-circle shadow-1-strong me-3" src="../images/default.png" alt="avatar" width="60" height="60"/>
								<div>
									<h6 class="fw-bold mb-1">username</h6>
									<div class="d-flex align-items-center mb-3">
										<p class="mb-0">
											created_at
										</p>
									</div>
									<p class="mb-0">
										Lorem Ipsum is simply dummy text of the printing and typesetting
                                        industry. Lorem Ipsum has been the industry's standard dummy text ever
                                        since the 1500s, when an unknown printer took a galley of type and
                                        scrambled it.
									</p>
								</div>
							</div>
						</div>

						<hr class="my-0"/>

						<div class="card-body p-4">
							<div class="d-flex flex-start py-2">
								<img class="rounded-circle shadow-1-strong me-3" src="../images/default.png" alt="avatar" width="60" height="60"/>
								<div>
									<h6 class="fw-bold mb-1">username</h6>
									<div class="d-flex align-items-center mb-3">
										<p class="mb-0">
											created_at
										</p>
									</div>
									<p class="mb-0">
										Lorem Ipsum is simply dummy text of the printing and typesetting
                                        industry. Lorem Ipsum has been the industry's standard dummy text ever
                                        since the 1500s, when an unknown printer took a galley of type and
                                        scrambled it.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<nav aria-label="Page navigation example">
					<ul class="pagination justify-content-center py-5">
						<li class="page-item disabled">
						<span class="page-link">Previous</span>
						</li>
						<li class="page-item"><a class="page-link" href="#">1</a></li>
						<li class="page-item active" aria-current="page">
						<span class="page-link">2</span>
						</li>
						<li class="page-item"><a class="page-link" href="#">3</a></li>
						<li class="page-item">
						<a class="page-link" href="#">Next</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</section>
{% endblock %}
