  :root {
    --primaryFontFamily: 'Roboto';
    --secondaryFontFamily: 'Caveat Brush';
  }
  
  body {			
    font-family: var(--primaryFontFamily);
    text-decoration: none;
  }

  .navbar-brand {
    font-family: var(--secondaryFontFamily);
  }

  .hero {
    position: relative;
  }

  #btnDown {
    position: absolute;
    right: 40px;
    bottom: 30px;
  }

  .figure-list {
    position: relative;
  }

  #btnUp {
    position: absolute;
    right: 40px;
  }

  .content { 
      margin: auto;
  }